.col-md-3
.col-md-6
  %table.table-bordered
    %tr
      %th
        Id
      %th
        Login
      %th
        Password(encoded)
      %th
        Created at
    - @users.each do |user|
      %tr{style: "#{'border: 2px solid red;' if @current_user && @current_user.id == user.id}"}
        %td
          = user.id
        %td
          = user.login
        %td
          = user.password_secret
        %td
          = user.created_at